<div class="jumbo">
  <h2>About the Noodle Coding Challenge</h2>
  <p>
    The Noodle coding challenge is a client and server app that lists products
    and product attributes, known as "details", and allows users to CRUD those
    products and details.
  </p>
</div>
