<h2>Products</h2>
<div class="row">
  <div class="col-sm">
    <p>Click on a product name to show details</p>
    <ul class="existing-products">
      {{#each model as |product|}}
        {{#link-to "products.show" product class=product.id}}
          {{product-listing product=product}}
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
  <div class="col-sm">
    {{outlet}}
  </div>
</div>
